/*@import url("//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css");*/

svg {
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #ccc;
}

.entry > label{
  display: inline;
}